{% extends "templates/base.svg.jinja" %}
{% import "templates/macros.svg.jinja" as macros with context %}
{% block body %}

{% set combo_box_width = (body_width - combo_start_width - combo_stop_width) / 8 %}

{% set ns = namespace(y=0) %}
{% for combo in combos %}
	{% set combo_height = combo.layer_0|length * (combo_row_height + combo_row_gap) + combo_gap %}

	{# title #}
	{{ macros.text_element(combo.title, y = ns.y) }}

	{# tick box #}
	{% set x_tick_box = width - margin_right - margin_left - tick_box_size %}
	{% set y_tick_box = ns.y + combo_height - combo_gap + combo_row_gap %}
	<use href="#tick_box" x="{{ x_tick_box }}" y="{{ y_tick_box }}"/>
	{% if draw_combo_tick_values %}
		{{ macros.text_element(combo.tick,
			x = x_tick_box + (tick_box_size - combo.tick.width) / 2 - combo.tick.x_bearing,
			y = y_tick_box + (tick_box_size + combo.tick.height) / 2) }}
	{% endif %}

	{# combo itself #}
	<g transform="translate(0,{{ ns.y + combo_row_gap }})">
		{% set ns.y = ns.y + combo_height %}
		{% include "templates/combo.svg.jinja" %}
	</g>
{% endfor %}

{% if draw_combo_tick_values %}
	{{ macros.text_element(combo_value,
		x = width - margin_right - margin_left - combo_value.width,
		y = ns.y + combo_gap / 2) }}
	{{ macros.text_element(combo_requirements,
		x = width - margin_right - margin_left - combo_requirements.width
			- combo_value.width - styles[combo_requirements.style].x_width,
		y = ns.y + combo_gap / 2) }}
{% endif %}

{% endblock %}
{% block footer %}{% endblock %}
