{% extends "templates/base.svg.jinja" %}
{% import "templates/macros.svg.jinja" as macros with context %}
{% set table_height = table_row_height * (skills|length + 1) %}
{% set table_width = width - margin_right - margin_left - table_margin_right %}
{% set tick_box_gap = (table_row_height - tick_box_size) / 2 %}
{% set tick_box_x1 = (table_width - 2 * (tick_box_gap + tick_box_size)) %}
{% set tick_box_x2 = (table_width - 1 * (tick_box_gap + tick_box_size)) %}
{% set tick_box_x = (tick_box_x1 + tick_box_x2) / 2 %}
{% set title_height = title_circle_radius * 2 %}

{% block title %}
	{% include "templates/title.svg.jinja" %}
	<g id="name_line" transform="translate({{ body_width }}, {{ title_circle_radius + styles.title_banner.height / 2 }})">
		<line x1="{{ - name_line_length }}" x2="0"
			stroke="{{ colors.border }}"
			stroke-width="{{ name_line_thickness }}"
			stroke-linecap="round"/>
		{{ macros.text_element(name_line,
			x = - (name_line_length + name_line.width) / 2, y = name_line.height) }}
	</g>
{% endblock %}

{% block body %}
	<g id="table" transform="translate(0, {{ title_height + 1 * table_row_height }})">
		{% include "templates/skill_table.svg.jinja" %}
	</g>
{% endblock %}
